body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.side-nav .collapsible-header:hover, .collapsible-body li a:hover, .side-nav.fixed .collapsible-header:hover {
    background-color: white;
    border-left: 7px solid #2196f3 !important;
    border-color: #2196f3 !important;
}
/*
.active {
    background-color: #2196f3;
}
*/

li.login {
    bottom: 0;
    position: absolute;
}


.input-field div.error {
    position: relative;
    top: -1rem;
    left: 0rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: #FF4081;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.secondary-content {
    color: #2196f3;
}

li > span {
    color: #2196f3;
}

blockquote {
    border-left: 5px solid #2196f3;
}
.picker__frame {
    max-width: 400px;
    width: auto;
}
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    border-radius: 0;
}
